.torrent-wrapper {
    display: grid;
}

.torrent-card {
    overflow: visible;
    background-color: #414040;
    display: flex;
    justify-content: space-around;
    border-radius: 0.5em;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0em;
    cursor: pointer;
}

.torrent-card-inactive {
    filter: brightness(50%);
    overflow: visible;
    background-color: #414040;
    display: flex;
    justify-content: space-around;
    border-radius: 0.5em;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0em;
    cursor: pointer;
}

.torrent-card:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 0.75rem crimson);
}

.torrent-card-inactive:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 0.75rem crimson) brightness(50%);
}

.torrent-box {
    flex: 1 1 93%;
    padding: 0em;
    display: flex;
    flex-direction: column;
}

.torrent-box-downloading {
    flex: 1 1 93%;
    padding: 0em;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #25b04f var(--n), transparent var(--n));
    border-image-slice: 1;
}

.torrent-availability-and-name {
    display: flex;
    justify-content: space-between;
}

.torrent-name {
    text-align: left;
    padding-left: 1em;
    padding: 0em;
    word-break: break-word;
}

.torrent-name h2 {
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
    margin-top: 0.5em;
}

.torrent-delete-button {
    flex: 1 1 1%;
    background-color: rgb(190, 94, 94);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.torrent-delete-button:hover {
    background-color: rgb(192, 50, 50);
}

.torrent-info {
    display: flex;
    justify-content: flex-start;
    word-break: break-word;
}

.torrent-info p {
    margin: 1em;
    font-size: small;
}

.torrent-availability p {
    margin: 0;
    margin-top: 1em;
    margin-right: 1em;
    padding: 0.5em;
    font-size: small;
    border-radius: 10px;
}

.torrent-files {
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
}